$bodyFont:	'Futura W01 Book', Verdana, "Verdana Ref", sans-serif;

$titleFont:'Futura W01 Medium';

$fontSize: 16px;

$bodyColor: #5B5C5D;

$logoColor: #372A76;

$bodyLetterSpacing: 0.06em;


$linkCat1: #BC62C6;


$linkCat2: #794D06;


$linkCat3: #FBBD12;


$linkCat4: #2F91F6;


$linkCat5: #97CD2D;	
	