.col-1 {
	
	width:100%;	

	@include breakpoint(js_breakpoint) {

		width:35%;
		float:left;

	}
}




.col-2 {

	display:none;

	@include breakpoint(js_breakpoint) {

		display:block;
		width:60%;
		min-height:624px;
		float:right;	
	}	
}
