.gallery-list {
	@include breakpoint(js_breakpoint) {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}



.gallery-item {

	width:100%;
	max-width: 320px;
	margin: 0 auto;
	float: none;
	position:relative;
	display:none;

	&.cat1 {
		display:block;
	}
																		
	a.details-btn {
		display:block;
	}

	.gallery-item-info {
		display:none;
	}

	@include breakpoint(js_breakpoint) {

		width:115px;
		margin: 0 0 1rem 0;
		padding: 0;
		float: left;
		// margin:0 15px 15px 0;
		// float: left;
		position:relative;
																			
		a.details-btn {
			display:none;
		}

	}
}







.gallery-item-wrapper {
	position:relative;
	width:100%;
	max-width: 320px;	
	z-index:1;
}








.lg-screen {

	.gallery-thumbnail {
		border:2px solid #fff;
		z-index:1;

		&:hover {
			cursor: pointer;
			opacity: 0.5;		
		}

		&.active {
			opacity: 0.5;		
		}
	}
}



.cat1 .gallery-thumbnail {
	border: 2px solid $linkCat1;
}
.cat2 .gallery-thumbnail{
	border: 2px solid $linkCat2;
}
.cat3 .gallery-thumbnail{
	border: 2px solid $linkCat3;
}
.cat4 .gallery-thumbnail{
	border: 2px solid $linkCat4;
}
.cat5 .gallery-thumbnail{
	border: 2px solid $linkCat5;
}		












