.image-outer-wrap {			
	position:relative;	
	overflow: auto;	
}



.imgWrap {		
	.frame {
		display: block;
		float: right;
		border:2px solid #fff;
	}
}




.loading {
	position:absolute;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	background: url(../../images/ajax-loader.gif) 50% 50% no-repeat transparent;
	z-index:9;
}