/* -----------------------------------------
   Navigation Styles
----------------------------------------- */


.nav{
    list-style:none;
    margin-left:0;
    @extend .cf;

    > li{

        &.active > a {
            }        
        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
            text-decoration:none;
            :hover {
            	text-decoration:none;
            }

        }
    }
}


/* -----------------------------------------
   topmenu
----------------------------------------- */

.topmenu {
        width:100%; 
        margin:20px 0 0 0;

        li {
            float: right;
            margin-left:20px;
            font-size:.8em;
            a {
                color:$logoColor;
                &:hover {
                    text-decoration:underline;
                }
            }
        }
        
}

@media only screen and (min-width : 800px)  {


    ul.topmenu li {
        font-size:1.2em;
    }


}

.sm-screen ul.topmenu {
    width:90%;
    margin:10px auto 20px auto;
}




/* -----------------------------------------
   catList
----------------------------------------- */

.catList{
    padding:20px 0 30px 0;
    border-top:1px solid #999;
    
    li {
        margin-right:19%;

        &:nth-child(5) {
            margin-right:0;
            float: right;
        }

        a {
            padding:10px 0;
            border-bottom:2px solid #FFF;
            

            &:hover {
                border-bottom:2px solid $bodyColor;
            }
        }

        a.linkCat1.on {
            color:$linkCat1;
            border-bottom:2px solid $linkCat1;
        }
        a.linkCat2.on {
            color:$linkCat2;
            border-bottom:2px solid $linkCat2;
        }
        a.linkCat3.on {
            color:$linkCat3;
            border-bottom:2px solid $linkCat3;
        }
        a.linkCat4.on {
            color:$linkCat4;
            border-bottom:2px solid $linkCat4;
        }
        a.linkCat5.on {
            color:$linkCat5;
            border-bottom:2px solid $linkCat5;
        }
                                        
    }


}

.sm-screen ul.catList {
    width:90%;
    margin:0 auto;
    li {
        margin-right:8%;
        padding-bottom:10px;
        font-size:.8em;
        &:nth-child(5) {
            margin-right:0;
        }
    }
    }


/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {

.catList {
    li {
        margin-right:17%;
        &:nth-child(5) {
            margin-right:0;
            float: none;
        }

    }
}


}