/* -----------------------------------------
   Navigation Styles
----------------------------------------- */


.nav{
    list-style:none;
    margin-left:0;
    @extend .cf;

    > li{

        &.active > a {
            }        
        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
            text-decoration:none;
            :hover {
            	text-decoration:none;
            }

        }
    }
}


/* -----------------------------------------
   topmenu
----------------------------------------- */

.topmenu {

    width:100%; 
    margin:20px 0 0 0;

    li {
        float: right;
        margin-left:20px;
        font-size:.8em;    
    }

    a {
        color:$logoColor;

        &:hover {
            text-decoration:underline;
        }
    }            
}

@media only screen and (min-width : 800px)  {


    ul.topmenu li {
        font-size:1.2em;
    }


}

.sm-screen ul.topmenu {
    width:90%;
    margin:10px auto 20px auto;
}


